# Server Config
PORT=3000

# PostgreSQL Connection String (Neon or other hosts)
DATABASE_URL=postgresql://neondb_owner:npg_lxzyje16DKdf@ep-empty-sun-at91a66s-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require

# SMTP Configuration (KingHost)
EMAIL_USER=armandolima@ffainfraestrutura.com.br
EMAIL_PASS=VpP8r7qD!QpbN6Og

# Recipient Emails for Production Dispatch (comma-separated list)
EMAIL_RECIPIENT=thiagosouza@ffainfraestrutura.com.br, victorrodrigues@ffainfraestrutura.com.br, armandolima@ffainfraestrutura.com.br

# Dashboard Production URL Link
DASHBOARD_URL=https://baixaihs.onrender.com/
