# Server Config
PORT=3000

# PostgreSQL Connection String (Neon or other hosts)
DATABASE_URL=postgresql://usuario:senha@host.neon.tech/neondb?sslmode=require

# SMTP Configuration (KingHost)
EMAIL_USER=seu_email@dominio.com.br
EMAIL_PASS=sua_senha_do_email

# Recipient Emails for Production Dispatch (comma-separated list)
EMAIL_RECIPIENT=email1@dominio.com.br, email2@dominio.com.br

# Dashboard Production URL Link
DASHBOARD_URL=https://seu-app.onrender.com/
